.header{
 
  background-color: #323255;
 top: 0;
  position: sticky;
  z-index: 2;


}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; 
  padding: 20px;
 
}

.guia {
  display: flex;
    justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.guia a {
  display: inline-block;
  font-size: 1.1rem;
  font-family: "poppins";
  font-weight: 400;
  color: whitesmoke;
  text-decoration: none;
  text-transform: capitalize;


}

.logo {
  font-family: "poppins";
  font-weight: 500;
  color: #ffd;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5rem;
  text-align: right;
 
 
 


}
#contato {
  scroll-margin-top: 80px;
}
main{
    background-color: #323255;
border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
 
.inicio {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  padding: 100px;

  color: #fff;
  background-image: url('foto.jpg');
  background-size: cover;

}

.inicio img {
 
  display: block;
  height: auto;
    width: 30vw;     
  max-width: 100%;
  background-color: #daa;
  box-shadow: 0px 0px 20px #0e0e0e;
 border: none;
 border-radius: 50%;
  object-fit: cover;


}
  .titulo-sobre::before{
  content: "";
  display: block;
  position: absolute;
  width: 130px;
  height: 100px;
background: url("/Imagens/detalhe.svg") no-repeat center;
top: -30px;
left: -30px;
z-index: -1;
opacity: 0.7;




}


.titulo-sobre {
  font-family: "poppins";
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.4;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-align: left;
  text-transform: uppercase;

 position: relative;
  color: #ffe;
  transition: all 1s ease-out;
  z-index: 1;
}

.descricao-sobre {
  font-family: "roboto";
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: left;
  text-wrap: pretty;
  margin-bottom: 30px;
}

.saudacao {

  padding: 80px;
 

}



.apresentacao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;









}

.Sobre-mim {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
    max-width: 1000px;
  margin: 0 auto;
  padding: 60px 20px;
  flex-wrap: wrap;

}








.saudacao span {
  color: #1ac;
}



@media (max-width:800px) {
  .inicio {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
}

.servicos {


  padding: 80px;


}


.servicos-descricao {

  display: flex;


 flex-wrap: wrap;
 justify-content: space-between;




}
.servicos-descricao h2{
  margin-bottom: 10px;
}

.servicos-descricao ul {
  max-width: 400px;
transition: 0.4s;
backdrop-filter: blur(10px);
position: relative;
  background-color:#333355;
  padding: 20px;
  border-radius: 10px;
 
 



}
.servicos-descricao ul::before{
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background-color: yellow;
  position:absolute;
  margin-left: -25px;
}




.servicos p {
 
 
  overflow-wrap: break-word;
  line-height: 1.5;
  margin-bottom: 15px;
}

.servicos > h2 {

text-transform: uppercase;
  font-size: 3rem;



}


.servicos-descricao ul:hover {
  box-shadow: 0px 0px 10px wheat;
  transition: width 3s;
   transform: scale(1.15);

}
.servicos-descricao svg {
  z-index: 0;
  width: 50px;       
  height: 50px;
  display: block;
  margin-bottom: 10px;
   transition: transform 0.5s ease;
}

.servicos-descricao ul li svg:hover {
  transform: scale(1.10);

}
.servicos-descricao ul li svg {
  width: 60px;
  height: 60px;
  transition: transform 0.3s, fill 0.3s;
}
.servicos-descricao ul:nth-child(1) svg {
  fill: #e34c26; /* laranja HTML5 */
}
.servicos-descricao ul:nth-child(2) svg {
  fill: #2965f1; /* azul CSS */
}
.servicos-descricao ul:nth-child(3) svg {
  fill: #f7df1e; /* amarelo JS */
}
@media(max-width:1200px){
  .servicos-descricao{

align-items: stretch;

  justify-content:center;
column-gap: 30px;
  
  }
  .header-servicos{
    text-align: center;
  }
  

}
@media(max-width:800px) {
  .servicos-descricao {
    flex-wrap: wrap;

  }

}
.formacao{
 display: flex;
 padding: 80px;
  gap: 100px;
background-color: #141414;
}
.formacao-container{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cursos-formacao {
  display: flex;
    gap: 20px;
    justify-content:space-between;
}
.subtitulo{

  font-size:6rem;
 max-width: 6ch;
 line-height: 1.2;
 text-transform: uppercase;
 

}
.descricao-curso{
  font-family: "poppins";
  font-size: 1.2rem;
    overflow-wrap: break-word;
  line-height: 1.4;
  margin-bottom: 20px;
   overflow: hidden;
           
  
}
.cursos-formacao ul {
 position: relative;
  padding: 20px;
  border-radius:8px;
  background-color: #222;


}
.descricao-formacao li{
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;

}
.faculdade-tipo{
  margin-bottom: 10px;
}

.titulo-cursos{
  position: relative;
}


.faculdade-tipo{
  color: #A3A3A3;
margin-bottom: 20px;
}
.cursos-formacao h3{
  margin-bottom: 10px;
}
.cursos-formacao ul:hover {
  box-shadow: 0px 0px 12px #ffe;
  transition: width 3s;
   transform: scale(1.10);

}

.cursos-formacao ul  li::before{
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background-color: royalblue;
  opacity: 0.8;
  border-radius: 4px;
  position:absolute;
  top: 4px;
  left: -25px;
}

.cursos {
  margin-bottom: 20px;
}
.cursos li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  

}
.cursos ul{
  margin-bottom: 10px;
}
.cursos h3{
  font-size: 1rem;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #8F8F8F;
}
.cursos span{
  color: #777;
}


.cursos ul,
.idiomas ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.idiomas h3{
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #8F8F8F; ;

}
.idiomas span{
  color: #777;
}
@media(max-width:1000px){
 .formacao{
  flex-direction: column;
  gap: 15px;

 }
 .subtitulo{

  font-size:4rem;
 max-width: max-content;
 line-height: 1.2;
 text-transform: uppercase;
 

}
}

.footer {
  background-color: #0b0b1f; 
  color: #fff;
  padding: 10px;
    border-top: 1px solid gray;
      height: 100%;
}






.autoria {
  padding: 20px;
  font-size: 0.9rem;
  color: #777;
 
 
}
.autoria p{
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: center;
}
.link-contato{
  display: flex;
    justify-content:center;
    align-items: center;
    align-content: center;
   

}
.fa-brands,
.fa-solid {
  transition: all 0.4s ease;
  display: inline-block; 
}

.fa-brands:hover,
.fa-solid:hover {
  transform: scale(1.1);
  color: #ffd; 
}


.fa-brands {

  font-size: 40px;     
  margin: 10px;
 
}
.fa-solid {
  color:#1ac;
  margin-bottom: 20px;

}