#contato {
  color: white;
  background-color: #000;
}
.footer_container {
  display: grid;
  padding: 120px 20px 60px 20px;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  gap: 100px;
  margin: 0 auto;
  align-items: center;
}
.footer_descricao {
  font-size: 1.4rem;
  line-height: 1.33;
  color: #ccc;
}
.footer_container li {
  color: #fff;
  line-height: 1;
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.footer_container li a {
  color: #fff;
}
.footer_copy {
  margin-bottom: 20px;
  grid-template-columns: 1/-1;
  font-size: 1.125rem;
  color: #ccc;
}
@media (max-width: 800px) {
  .footer_container {
    grid-template-columns: 1fr;
  }
  .footer_container li {
    font-size: 1.5rem;
    text-align: center;
  }
}
