.formacao {
  background-color: #141414;
  color: white;
}

.portfolio_academico {
  display: grid;
  padding: 120px 20px;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin-bottom: 100px;
  gap: 100px;
  margin: 0 auto;
  position: relative;
  overflow: visible;
}
.portfolio_academico::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("/detalhe.svg");
  position: absolute;

  bottom: -30px;
  left: 20px;
}

.subtitulo_2 {
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 5ch;
  color: #ffe;
}
.formacao_texto {
  font-size: 1.5rem;
  margin-bottom: 60px;
  max-width: 40ch;
  line-height: 1.8rem;
  color: #a3a3a3;
}
.formacao_texto strong {
  color: #ffff;
}
.faculdade_lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}
.faculdade_item {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #000;
  padding: 20px;
  border-radius: 4px;
}
.faculdade_tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}
.faculdade_curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}
.faculdade_curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;

  left: -24px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
}
.faculdade_instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
}

.cursos {
  margin-bottom: 60px;
}
.formacao_extra .curso_tipo {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
}
.curso_tipo::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;

  background: url("/cursos.svg") no-repeat center;
  position: absolute;
  left: -36px;
}

.idiomas_curso {
  margin-bottom: 30px;
  color: #8f8f8f;
  font-size: 0.875rem;
  text-transform: uppercase;
  position: relative;
}
.idiomas_curso::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;

  background: url("/idiomas.svg") no-repeat center;
  position: absolute;
  left: -36px;
}
.formacao_extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}
.formacao_extra span {
  color: #8f8f8f;
}
.cursos li {
  display: flex;
  justify-content: space-between;
}
.idiomas li {
  display: flex;
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}
.idiomas span {
  margin-left: 10px;
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .subtitulo_2 {
    color: burlywood;
    font-size: 7rem;
    max-width: none;
    text-align: center;
  }
  .portfolio_academico {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }

  .curso_tipo::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    left: auto;

    top: -30px;

    background: url("/cursos.svg") no-repeat center;
    position: absolute;
  }
}
