body {
  font-family: work sans;
  margin: 0px;
  padding: 0px;

  color: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
  margin: 0px;
}
ul li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
.subtitulo {
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  max-width: 4ch;
  color: #e0e0e0;
  margin-bottom: 60px;
}
