.introducao {
  display: grid;
  padding: 40px 20px;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 100px;
}
.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 1.5rem;
  position: relative;
}
.introducao h1::before {
  content: "";
  display: block;
  width: 120px;
  height: 100px;
  background: url("/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -27px;
  z-index: -1;
}
.experiencia {
  display: grid;
  padding: 40px 20px;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  gap: 100px;
  margin: 0 auto;
}

.subtitulo {
  font-size: 5rem;

  line-height: 1;
  max-width: 11ch;
  color: #e0e0e0;
  margin-bottom: 60px;
}
.experiencia_texto {
  font-size: 1.5rem;
  margin-bottom: 60px;
  max-width: 40ch;
  line-height: 1.8rem;
  color: #525252;
}
.experiencia_texto strong {
  color: #141414;
}
.descricao_texto {
  font-size: 1rem;
  color: #525252;
  line-height: 1.4;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 20px;
  position: relative;
  gap: 10px 30px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
}
.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  top: 20px;
  left: -4px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}
.empresa_ano {
  top: 20px;
  left: -70px;
  position: absolute;
  width: 40px;
}
.habilidades {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.habilidades .habilidade_item {
  background-color: white;
  line-height: 1.2rem;
  border-radius: 5px;
  padding: 10px;
}
.empresa_titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}
.empresa_cargo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
  text-align: center;
  display: block; /* importante para alinhar verticalmente como o h3 */
}
@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
@media (max-width: 700px) {
  .introducao img {
    display: none;
  }
}
